.blank {
	margin-right: 10px;
	font-size: 24px;
}

.guess {
	font-size: 24px;
	width: 40px;
}

#hangingMan {
	float: left;
/*	display: inline-block;*/
}

#content {
/*	display: inline-block;*/
}

#word {
	margin-bottom: 5px;
}

.bodyPart {
	visibility: hidden;
}

#new {
	display: inline;
	margin-left: 15px;
}
